

<% if defined?(tickets) %>
<div>
  <% grouped_tickets.each do |key, ticket_list| %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <a href="/tickets?location=<%= key %>" class=""><%= key %> <span class="badge"><%= ticket_list.size %></span></a>
    </div>
    <div class="panel-body">
      <table>
        <thead>
          <tr>
            <th>Ticket Name</th>
            <th>Owner</th>
            <th>Estimate</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
        <% ticket_list.each_with_index do |ticket, idx| %>
          <tr>
            <td class="well-sm">
              <a href="/ticket/<%= ticket["id"] %>"id="name_<%= ticket["id"] %>"><%= ticket["item"] %></a>
                    
              <button class="btn btn-default btn-xs" data-toggle="modal" data-target="#modal_<%= ticket["id"] %>">Edit</button>

              <div class="modal" id="modal_<%= ticket["id"] %>" tabindex="-1" role="dialog" aria-labelledby="label_<%= ticket["id"] %>" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      <h4 class="modal-title" id="label_<%= ticket["id"] %>">Edit Description</h4>
                    </div>
                    <div class="modal-body">
                      <div class="input-group">
                        <input type="text" class="form-control" id="desc_<%= ticket["id"] %>" value="<%= ticket["item"] %>">
                        <span class="input-group-btn">
                          <button class="btn btn-default" type="button" id="save_<%= ticket["id"] %>" data-dismiss="modal">Save</button>
                          <script>
                          $(document).ready(function() {
                            $("#save_<%= ticket["id"] %>").click(function() {
                              $("#name_<%= ticket["id"] %>")[0].innerText = $("#desc_<%= ticket["id"] %>")[0].value;
                              $.post('/set/ticket/<%= ticket["id"] %>/attribute/item', {data: $("#desc_<%= ticket["id"] %>")[0].value});
                            });
                          });
                          </script>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </td>
            <td class="well-sm">
              <div class="btn-group">
                <button type="button" id="owner_butt<%= ticket["id"] %>" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                  <%= ticket["owner"] || "Set Owner" %>
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <% owners.each do |owner| %>
                  <li><a onclick="
                    $.post('/set/ticket/<%= ticket["id"] %>/attribute/owner/<%= owner %>');
                    $('#owner_butt<%= ticket["id"] %>').text('<%= owner %>');
                    $('#owner_butt<%= ticket["id"] %>').append(' <span class=\'caret\'></span>');
                  "><%= owner %></a></li>
                  <% end %>
                  <li class="divider"></li>
                  <li><a onclick="
                    $.post('/set/ticket/<%= ticket["id"] %>/attribute/owner/');
                    $('#owner_butt<%= ticket["id"] %>').text('Set Owner');
                    $('#owner_butt<%= ticket["id"] %>').append(' <span class=\'caret\'></span>');
                  ">Unset</a></li>
                </ul>
              </div>
            </td>
            <td class="well-sm">
              <div class="btn-group">
                <button type="button" id="dur_butt<%= ticket["id"] %>" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                  <%= ticket["duration"] || "Set Duration" %>
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <% time_options.each do |time| %>
                  <li><a onclick="
                    $.post('/set/ticket/<%= ticket["id"] %>/attribute/duration/<%= time %>');
                    $('#dur_butt<%= ticket["id"] %>').text('<%= time %>');
                    $('#dur_butt<%= ticket["id"] %>').append(' <span class=\'caret\'></span>');
                  "><%= time %></a></li>
                  <% end %>
                  <li class="divider"></li>
                  <li><a onclick="
                    $.post('/set/ticket/<%= ticket["id"] %>/attribute/duration/');
                    $('#dur_butt<%= ticket["id"] %>').text('Set Duration');
                    $('#dur_butt<%= ticket["id"] %>').append(' <span class=\'caret\'></span>');
                  ">Unset</a></li>
                </ul>
              </div>            
            </td>
            <td>
              <% cur_status = "Open" %>
              <% cur_class = "btn btn-xs btn-primary" %>
              <% action_options.each do |action, options| %>
                <% if ticket["status"] == options["status"] %>
                  <% cur_status = action %>
                  <% cur_class = options["class"] %>
                <% end %>
              <% end %>
              <div class="btn-group">
                <button type="button" id="status_butt<%= ticket["id"] %>" class="btn btn-xs <%= cur_class %> dropdown-toggle" data-toggle="dropdown">
                  <%= cur_status %>
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <% action_options.each do |action, options| %>
                  <li><a onclick="
                    $.post('/set/ticket/<%= ticket["id"] %>/attribute/status/<%= options["status"] %>');
                    $('#status_butt<%= ticket["id"] %>').text('<%= action %>');
                    $('#status_butt<%= ticket["id"] %>').append(' <span class=\'caret\'></span>');
                    $('#status_butt<%= ticket["id"] %>').attr('class', 'btn btn-xs ' + '<%= options["class"] %>' + ' dropdown-toggle');
                  "><%= action %></a></li>
                  <% end %>
                </ul>
              </div>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <% end %>
</div>


<% else %>

<% end %>

