<% if defined?(visible_budgets) %>
<div class="panel panel-default">
  <div class="panel-heading"><h3 class="panel-title">Active Budgets</h3></div>
  <div class="panel-body">
  <table class="table table-striped table-condensed">
    <thead>
      <tr>
        <th>Name</th>
        <th>Amount</th>
        <th>Tag</th>
        <th>Period<br />Start - End</th>
      </tr>
    </thead>
    <tbody>
      <% visible_budgets.each do |budget| %>
        <% puts "Budget: #{budget}" %>
        <tr>
          <td>
            <% link_url = url['budget_edit'].gsub(':id', budget['id'].to_s) %>
            <%= budget['name'] %>
            (<a href="<%= link_url %>">Edit</a>)
          </td>
          <td>
            $ <%= budget['amount'] %>
          </td>
          <td>
            <% link_url = url['tag'].gsub(':id', budget['tag']['id'].to_s) %>
            <a href="<%= link_url %>"><%= budget['tag']['name'] %></a>
          </td>
          <td>
            <%= budget['period'] == 365 ? 'Yearly' : 'Monthly' %>
            <p class="text-muted">
              Starts <%= budget['start_date'] %>, Ends <%= budget['end_date'] %>
            </p>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </div>
</div>
<% else %>

<% end %>

