<div class="panel panel-default">
  <div class="panel-heading"><h3 class="panel-title">Add or Edit a Budget</h3></div>
  <div class="panel-body">
    <% id = budget['id'] %>
    <% post_action = id > 0 ? url['budget_edit'].gsub('%id%', id.to_s) : url['budget_update'] %>
    <form method="post" action="<%= post_action %>">
      <input type="hidden" name="id" value="<%= budget['id'] || 0 %>" />
      <input type="hidden" name="do_update" value="1" />

      <div class="row">
        <div class="col-xs-6 col-md-10">
          <!-- TODO: display as an input type="text" -->
          <div class="form-group">
            <label for="name">Name</label>
            <textarea class="form-control" rows="1"
              aria-label="Name" name="name" id="name" /><%= budget['name'] %></textarea>
          </div>
        </div>

        <div class="col-xs-6 col-md-2">
          <div class="form-group">
            <label for="amount">Amount</label>
            <div class="input-group">
              <span class="input-group-addon">$</span>
              <input type="number" step="0.01" class="form-control"
                aria-label="Amount" name="amount" value="<%= budget['amount'] %>">
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-6 col-md-3">
          <div class="form-group">
            <label for="period_days">Budget Period</label>
            <div class="radio">
              <label>
                <input type="radio" name="period_days" value="30"
                  <%= budget['period_days'].to_i == 30 ? 'checked' : '' %>>
                Monthly
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="period_days" value="365"
                  <%= budget['period_days'].to_i == 365 ? 'checked' : '' %>>
                Yearly
              </label>
            </div>
          </div>
        </div>

        <div class="col-xs-6 col-md-3">
          <div class="form-group">
            <label for="start_date">Start Date</label>
            <input type="date" class="form-control" 
              aria-label="Start Date" name="start_date" value="<%= budget['start_date'] %>" />
          </div>
        </div>

        <div class="col-xs-6 col-md-3">
          <div class="form-group">
            <label for="end_date">End Date</label>
            <input type="date" class="form-control" 
              aria-label="End Date" name="end_date" value="<%= budget['end_date'] %>" />
          </div>
        </div>

        <div class="col-xs-6 col-md-3">
          <div class="form-group">
            <label for="tag">Tag</label>
            <textarea class="form-control" rows="1"
              aria-label="Tag" name="tag" id="tag" /><%= budget['tag'] %></textarea>
            <script>
              $('#tag').textcomplete([
                {
                  words: <%= tags.to_json %>,
                  match: /^(\w{1,})$/,
                  search: function(term, callback) {
                    callback($.map(this.words, function(word) {
                      return word.toLowerCase().indexOf(term.toLowerCase()) >= 0 ? word : null;
                    }));
                  },
                  index: 1,
                  replace: function(word) {
                    return word;
                  }
                }
              ]);
            </script>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-6 col-md-2 col-xs-offset-6 col-md-offset-10">
          <div class="form-group">
            <% if budget['id'] and budget['id'].to_i > 0 %>
              <div class="checkbox">
                <label class="checkbox-inline">
                  <input type="checkbox" id="confirm_delete" name="confirm_delete" />
                  Delete this budget?
                </label>
                <script>
                  $("#confirm_delete").click(function() {
                    if($(this).is(":checked")) {
                      $("#submit_button")
                        .html('Delete')
                        .removeClass('btn-success')
                        .addClass('btn-danger');
                    }
                    else {
                      $("#submit_button")
                        .html('Update')
                        .addClass('btn-success')
                        .removeClass('btn-danger');
                    }
                  });
                </script>
              </div>
              <button type="submit" class="btn btn-success btn-lg btn-block"
                id="submit_button" name="submit">Update</button>
            <% else %>
              <button type="submit" class="btn btn-success btn-lg btn-block"
                id="submit_button" name="submit">Add</button>
            <% end %>
          </div>
        </div>


      </div>

    </form>
  </div>
</div>
