<div class="panel panel-default">
  <div class="panel-heading"><h3 class="panel-title">Add a Purchase or Bill</h3></div>
  <div class="panel-body">
    <form method="post" action="<%= url['expense_add'] %>">

      <div class="row">
        <div class="col-xs-6 col-md-2">
          <div class="form-group">
            <label for="amount">Amount</label>
            <div class="input-group">
              <span class="input-group-addon">$</span>
              <input type="number" step="0.01" class="form-control" aria-label="Amount" name="amount">
            </div>
          </div>
        </div>

        <div class="col-xs-6 col-md-2">
          <div class="form-group">
            <label for="date">Date</label>
            <input type="date" class="form-control" aria-label="Date" name="date" value="<%= today %>" />
            <!--
            [ today ] [ yesterday ]<br />
            [ two days ago ]
            -->
          </div>
        </div>

        <div class="col-xs-6 col-md-4">
          <div class="form-group">
            <label for="location">at</label>
            <textarea class="form-control" rows="1"
              aria-label="Location" name="location" id="location" /></textarea>
            <script>
              $('#location').textcomplete([
                {
                  words: <%= locations.to_json %>,
                  match: /^(\w{1,})$/,
                  search: function(term, callback) {
                    callback($.map(this.words, function(word) {
                      return word
                        .toLowerCase()
                        .indexOf(term.toLowerCase()) >= 0 ? word : null;
                    }));
                  },
                  index: 1,
                  replace: function(word) {
                    return word;
                  }
                }
              ]);
            </script>

            <!--
            <ul>
              <li>Example 1</li>
              <li>Example 2 is really Long</li>
              <li>Example 3</li>
              <li>Example 4 is Long</li>
            </ul>
            -->
          </div>
        </div>

        <div class="col-xs-6 col-md-4">
          <div class="form-group">
            <label for="tags">Tags</label>
            <textarea class="form-control" rows="1"
              aria-label="Tags" name="tags" id="tags" /></textarea>
            <script>
              $('#tags').textcomplete([
                {
                  words: <%= tags.to_json %>,
                  match: /\b([^,]{1,})$/,
                  search: function(term, callback) {
                    callback($.map(this.words, function(word) {
                      return word.toLowerCase().indexOf(term.toLowerCase()) >= 0 ? word : null;
                    }));
                  },
                  index: 1,
                  replace: function(word) {
                    return word + ', ';
                  }
                }
              ]);
            </script>
          </div>
        </div>

        <div class="clearfix visible-xs-block"></div>

        <div class="col-xs-6 col-md-10">
          <div class="form-group">
            <label for="notes">Notes</label>
            <textarea class="form-control" rows="1"
              aria-label="Notes" name="notes" id="notes" /></textarea>
          </div>
        </div>

        <div class="col-xs-6 col-md-2">
          <div class="form-group">
            <button type="submit" class="btn btn-success btn-lg btn-block" name="submit">Submit</button>
          </div>
        </div>


      </div>

    </form>
  </div>
</div>

<% if defined?(visible_expenses) %>
  <table class="table table-striped table-condensed">
    <thead>
      <tr>
        <th>Amount</th>
        <th>Location</th>
        <th>Date</th>
        <th>Tags/Notes</th>
      </tr>
    </thead>
    <tbody>
      <% visible_expenses.each do |expense| %>
        <tr>
          <td>
            <% link_url = url['expense_edit'].gsub(':id', expense['id'].to_s) %>
            <a href="<%= link_url %>">$ <%= expense['amount'] %></a>
          </td>
          <td>
            <%= expense['location'] %>
            <br />
            <span class="glyphicon glyphicon-filter"></span>Filter
          </td>
          <td><%= expense['date'] %></td>
          <td>
              <% expense['tags'].each_with_index do |tag, idx| %>
                <% link_url = url['tag'].gsub(':id', tag['id'].to_s) %>
                <a href="<%= link_url %>"><%= tag['name'] %></a><%= idx == expense['tags'].size - 1 ? '' : ',' %>
              <% end %>
            <p class="text-muted">
              <%= expense['notes'] %>
            </p>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>

<% end %>

